<div class="container">
  <h3>What brilliant idea do you have today <%= @current_user %>?</h3>
  <%= form_for Link.new do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Submit", class: "btn blue" %>
  <% end %>

  <div class="row center extra-btns">
       <a class="btn blue">Sort</a>
       <a class="btn blue">Read</a>
       <a class="btn blue">Unread</a>
     </div>

  <table class="highlight" id="link-listing">
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Status</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <th contenteditable='true' class='title-editable'><%= link.title %></th>
        <th contenteditable='true'class='url-editable'><%=link.url%></a></th>
        <th id="<%=link.id%>-edit-read"><%
          if link.read %>
            Read
          <% else %>
            Unread
          <% end %>
        </th>
        <th class="delete-idea"><%= link_to "Delete"%></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
